@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f2f2f2;
  font-family: "Inter", sans-serif;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

img, video {
  max-width: 100%;
}

.xyz {
  font-size: 16px;
  background-size: 100% 100%;
}
@media (max-width: 991px) {
  .xyz {
    font-size: 8px;
  }
}

.container {
  max-width: 1440px;
}
@media (max-width: 1440px) {
  .container {
    max-width: 100%;
    padding: 0 30px;
  }
}

.headerInfo {
  padding: 48px 0 0 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;
}
.headerInfo .navbar-toggler {
  font-family: "FontAwesome";
  color: #eee;
  font-size: 24px;
  padding: 0;
  outline: none;
  border: none;
}
.headerInfo .navbar-toggler:focus, .headerInfo .navbar-toggler:active {
  outline: none;
  border: none;
  box-shadow: none;
}
.headerInfo .navbar-toggler i {
  font-style: inherit;
}
@media (max-width: 480px) {
  .headerInfo .navbar-toggler {
    margin-top: 30px;
  }
}
.headerInfo .hdrNav .navbar-nav .nav-item {
  margin: 0 30px 0 0;
}
.headerInfo .hdrNav .navbar-nav .nav-item:last-child {
  margin: 0;
}
@media (max-width: 1440px) {
  .headerInfo .hdrNav .navbar-nav .nav-item {
    margin: 0 20px 0 0;
  }
}
@media (max-width: 1200px) {
  .headerInfo .hdrNav .navbar-nav .nav-item {
    margin: 0 18px 0 0;
  }
}
@media (max-width: 991px) {
  .headerInfo .hdrNav .navbar-nav .nav-item {
    margin: 0;
    border-top: 1px solid #909090;
  }
  .headerInfo .hdrNav .navbar-nav .nav-item:first-child {
    border: none;
  }
}
.headerInfo .hdrNav .navbar-nav .nav-item .nav-link {
  padding: 0;
  font-size: 24px;
  font-weight: 600;
  color: #eee;
}
.headerInfo .hdrNav .navbar-nav .nav-item .nav-link.active, .headerInfo .hdrNav .navbar-nav .nav-item .nav-link:hover {
  color: #1D3ED1;
}
.headerInfo .hdrNav .navbar-nav .nav-item .nav-link.dropdown-toggle::after {
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  border: none;
  vertical-align: middle;
  margin-left: 0;
  font-size: 20px;
}
@media (max-width: 991px) {
  .headerInfo .hdrNav .navbar-nav .nav-item .nav-link.dropdown-toggle::after {
    float: right;
  }
}
@media (max-width: 1440px) {
  .headerInfo .hdrNav .navbar-nav .nav-item .nav-link {
    font-size: 22px;
  }
}
@media (max-width: 1200px) {
  .headerInfo .hdrNav .navbar-nav .nav-item .nav-link {
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .headerInfo .hdrNav .navbar-nav .nav-item .nav-link {
    font-size: 18px;
    color: #232323;
    padding: 8px;
  }
  .headerInfo .hdrNav .navbar-nav .nav-item .nav-link:hover, .headerInfo .hdrNav .navbar-nav .nav-item .nav-link.active {
    background-color: #1D3ED1;
    color: #eee;
  }
}
.headerInfo .hdrNav .navbar-nav .dropdown-menu {
  background-color: #eee;
  width: 200px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.headerInfo .hdrNav .navbar-nav .dropdown-menu li {
  border-top: 1px solid #909090;
}
.headerInfo .hdrNav .navbar-nav .dropdown-menu li:first-child {
  border: none;
}
.headerInfo .hdrNav .navbar-nav .dropdown-menu li a {
  background-color: transparent;
  padding: 8px 10px;
  font-size: 16px;
  color: #232323;
  font-weight: 600;
}
.headerInfo .hdrNav .navbar-nav .dropdown-menu li a:hover, .headerInfo .hdrNav .navbar-nav .dropdown-menu li a.active {
  background-color: #1D3ED1;
  color: #eee;
}
@media (max-width: 991px) {
  .headerInfo .hdrNav .navbar-nav .dropdown-menu li a {
    padding: 8px 10px 8px 25px;
  }
}
@media (max-width: 991px) {
  .headerInfo .hdrNav .navbar-nav .dropdown-menu {
    background-color: transparent;
    width: 100%;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
    border: 0;
    margin: 0;
  }
}
@media (max-width: 991px) {
  .headerInfo .hdrNav .navbar-nav {
    justify-content: flex-start !important;
  }
}
.headerInfo .hdrUsers a {
  font-size: 24px;
  font-weight: 600;
  color: #757575;
  margin: 0 30px 0 0;
}
.headerInfo .hdrUsers a:last-child {
  margin: 0;
}
.headerInfo .hdrUsers a:hover {
  color: #1D3ED1;
}
.headerInfo .hdrUsers a.pxbtn {
  color: #ffffff;
  background-color: #1D3ED1;
  padding: 12px 40px;
  border-radius: 10px;
}
@media (max-width: 1440px) {
  .headerInfo .hdrUsers a.pxbtn {
    padding: 10px 35px;
  }
}
@media (max-width: 1200px) {
  .headerInfo .hdrUsers a.pxbtn {
    padding: 10px 25px;
  }
}
@media (max-width: 991px) {
  .headerInfo .hdrUsers a.pxbtn {
    padding: 6px 20px;
  }
}
@media (max-width: 991px) {
  .headerInfo .hdrUsers a.pxbtn {
    padding: 5px 10px;
    border-radius: 6px;
  }
}
@media (max-width: 1440px) {
  .headerInfo .hdrUsers a {
    font-size: 22px;
  }
}
@media (max-width: 1200px) {
  .headerInfo .hdrUsers a {
    font-size: 18px;
    margin: 0 15px 0 0;
  }
}
@media (max-width: 575px) {
  .headerInfo .hdrUsers a {
    margin: 0 10px 0 0;
  }
}
@media (max-width: 1200px) {
  .headerInfo .hdrUsers {
    margin: 0 20px 0 0;
  }
}
@media (max-width: 480px) {
  .headerInfo .hdrUsers {
    margin: 30px 0 0 auto;
    order: 2;
  }
}
@media (max-width: 991px) {
  .headerInfo #logo {
    margin-right: auto;
  }
  .headerInfo .navbar-collapse {
    width: 300px;
    background-color: #eee;
    border-top: 5px solid #1D3ED1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    margin: 20px 0 0 0;
    z-index: 999;
    position: absolute;
    top: 100%;
    right: 0;
  }
  .headerInfo .navbar-collapse .navbar-nav {
    padding: 10px;
  }
}
@media (max-width: 480px) {
  .headerInfo {
    padding: 30px 0 0 0;
  }
  .headerInfo #logo {
    text-align: center;
    width: 100%;
  }
  .headerInfo .navbar-collapse {
    width: 100%;
  }
}

.banner {
  background: url("../images/banner-bg.jpg") no-repeat top center;
  background-size: cover;
  padding: 290px 0 150px 0;
  overflow: hidden;
}
.banner .bannerDetails {
  width: 56%;
}
.banner .bannerDetails h1 {
  font-size: 61px;
  font-style: italic;
  color: #ffffff;
  line-height: 78px;
  font-weight: 300;
  margin: 0;
}
.banner .bannerDetails h1 span {
  font-family: "Kalam", cursive;
  font-weight: 700;
}
@media (max-width: 1440px) {
  .banner .bannerDetails h1 {
    font-size: 54px;
    line-height: 70px;
  }
}
@media (max-width: 1200px) {
  .banner .bannerDetails h1 {
    font-size: 42px;
    line-height: 62px;
  }
}
@media (max-width: 767px) {
  .banner .bannerDetails h1 {
    font-size: 38px;
    line-height: 50px;
  }
}
@media (max-width: 480px) {
  .banner .bannerDetails h1 {
    font-size: 28px;
    line-height: 40px;
  }
}
.banner .bannerDetails p {
  font-size: 24px;
  color: #ffffff;
  line-height: 38px;
  padding: 40px 0 0 0;
  margin: 40px 0 0 0;
  position: relative;
}
.banner .bannerDetails p::before {
  content: "";
  background-color: #1D3ED1;
  position: absolute;
  top: 0;
  left: 0;
  width: 65px;
  height: 6px;
}
@media (max-width: 1200px) {
  .banner .bannerDetails p {
    font-size: 18px;
    line-height: 32px;
  }
  .banner .bannerDetails p br {
    display: none;
  }
  .banner .bannerDetails p::before {
    right: 0;
    margin: 0 auto;
  }
}
@media (max-width: 575px) {
  .banner .bannerDetails p {
    padding: 20px 0 0 0;
    margin: 20px 0 0 0;
    font-size: 16px;
    line-height: 28px;
  }
}
@media (max-width: 991px) {
  .banner .bannerDetails {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .banner .bannerDetails {
    margin: 0 0 40px 0;
  }
}
@media (max-width: 1440px) {
  .banner {
    background-position: 66% center;
  }
}
@media (max-width: 1200px) {
  .banner {
    background-position: 65% center;
    padding: 230px 0 120px 0;
  }
}
@media (max-width: 991px) {
  .banner {
    padding: 190px 0 70px 0;
  }
}
@media (max-width: 767px) {
  .banner {
    background-image: none;
    padding: 160px 0 0 0;
    text-align: center;
    background-color: #111;
  }
  .banner .bannerImg {
    background-color: #232323;
    position: relative;
    z-index: 1;
    padding: 40px 0 60px 0;
  }
  .banner .bannerImg::before {
    content: " ";
    background-color: #232323;
    width: 10000px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
  .banner .bannerImg::after {
    content: " ";
    background-color: #232323;
    width: 10000px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
@media (max-width: 480px) {
  .banner {
    padding: 190px 0 0 0;
  }
}

.OurTeam {
  background-color: #232323;
  padding: 140px 20px;
}
@media (max-width: 1440px) {
  .OurTeam {
    padding: 120px 0;
  }
}
@media (max-width: 1200px) {
  .OurTeam {
    padding: 100px 0;
  }
}
@media (max-width: 991px) {
  .OurTeam {
    padding: 70px 0;
  }
}
@media (max-width: 767px) {
  .OurTeam {
    padding: 60px 0;
  }
}
@media (max-width: 575px) {
  .OurTeam {
    padding: 20px 0 40px 0;
  }
}
.OurTeam h2 {
  font-size: 45px;
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 30px 0;
  padding: 0 0 30px 0;
  position: relative;
}
.OurTeam h2::after {
  content: "";
  background-color: #1D3ED1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 65px;
  height: 6px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .OurTeam h2 {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .OurTeam h2 {
    font-size: 36px;
  }
}
@media (max-width: 575px) {
  .OurTeam h2 {
    font-size: 32px;
  }
}
.OurTeam p {
  font-size: 30px;
  color: #ffffff;
  line-height: 48px;
  margin: 0;
}
@media (max-width: 1440px) {
  .OurTeam p {
    font-size: 26px;
    line-height: 42px;
  }
}
@media (max-width: 1200px) {
  .OurTeam p {
    font-size: 22px;
    line-height: 36px;
  }
  .OurTeam p br {
    display: none;
  }
}
@media (max-width: 991px) {
  .OurTeam p {
    font-size: 18px;
    line-height: 32px;
  }
}
@media (max-width: 575px) {
  .OurTeam p {
    font-size: 16px;
    line-height: 28px;
  }
}
.OurTeam .teamInfo {
  padding: 100px 0 0 0;
}
@media (max-width: 991px) {
  .OurTeam .teamInfo {
    padding: 70px 0 0 0;
  }
}
@media (max-width: 767px) {
  .OurTeam .teamInfo {
    padding: 40px 0 0 0;
  }
}
.OurTeam .teamInfo ul li {
  position: relative;
}
.OurTeam .teamInfo ul li:nth-child(2), .OurTeam .teamInfo ul li:nth-child(5), .OurTeam .teamInfo ul li:nth-child(8) {
  margin-top: 130px;
}
@media (max-width: 1200px) {
  .OurTeam .teamInfo ul li:nth-child(2), .OurTeam .teamInfo ul li:nth-child(5), .OurTeam .teamInfo ul li:nth-child(8) {
    margin-top: 100px;
  }
}
@media (max-width: 991px) {
  .OurTeam .teamInfo ul li {
    margin: 0 0 40px 0;
  }
  .OurTeam .teamInfo ul li:nth-child(2), .OurTeam .teamInfo ul li:nth-child(5), .OurTeam .teamInfo ul li:nth-child(8) {
    margin-top: 0;
  }
}
.OurTeam .teamInfo ul li .memberImg {
  position: relative;
  z-index: 9;
}
.OurTeam .teamInfo ul li .memberImg::before {
  content: "";
  background-color: #181818;
  width: 186px;
  height: 323px;
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: -1;
}
.OurTeam .teamInfo ul li .memberImg::after {
  content: "";
  background-color: #1D3ED1;
  width: 80px;
  height: 143px;
  position: absolute;
  bottom: 50px;
  right: -10px;
  z-index: -1;
}
@media (max-width: 1440px) {
  .OurTeam .teamInfo ul li .memberImg {
    margin: 0 20px;
  }
  .OurTeam .teamInfo ul li .memberImg::before {
    height: 270px;
  }
}
@media (max-width: 1200px) {
  .OurTeam .teamInfo ul li .memberImg::before {
    height: 220px;
  }
  .OurTeam .teamInfo ul li .memberImg:after {
    height: 100px;
  }
}
@media (max-width: 767px) {
  .OurTeam .teamInfo ul li .memberImg::before {
    height: 170px;
  }
  .OurTeam .teamInfo ul li .memberImg:after {
    height: 80px;
  }
}
.OurTeam .teamInfo ul li:hover .memberDeatils {
  transform: translate(0, -40px);
}
.OurTeam .teamInfo ul li:hover .memberDeatils p {
  display: block;
  color: #ffffff;
}
.OurTeam .teamInfo ul li:hover .memberDeatils {
  background-color: #1D3ED1;
  z-index: 99;
}
.OurTeam .teamInfo ul li:hover .memberDeatils::before {
  display: none;
}
.OurTeam .teamInfo ul li:hover .memberDeatils h3, .OurTeam .teamInfo ul li:hover .memberDeatils span {
  color: #ffffff;
}
.OurTeam .teamInfo ul li:hover .memberDeatils .memberSocial a, .OurTeam .teamInfo ul li:hover .memberDeatils .memberSocial a.twitter, .OurTeam .teamInfo ul li:hover .memberDeatils .memberSocial a.linkdin {
  color: #ffffff;
}
.OurTeam .teamInfo .memberDeatils {
  margin: 20px 0 0 0;
  background-color: #ffffff;
  box-shadow: 0px 89.761px 145.862px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 20px 40px;
  position: relative;
  transition: transform 0.4s;
}
.OurTeam .teamInfo .memberDeatils::before {
  content: "";
  background: url("../images/dotted.png");
  position: absolute;
  bottom: 100%;
  left: 30px;
  width: 97px;
  height: 49px;
}
.OurTeam .teamInfo .memberDeatils p {
  font-size: 20px;
  line-height: 32px;
  color: #3C405F;
  margin: 0;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}
@media (max-width: 1200px) {
  .OurTeam .teamInfo .memberDeatils p {
    font-size: 18px;
    line-height: 28px;
  }
}
@media (max-width: 767px) {
  .OurTeam .teamInfo .memberDeatils p {
    font-size: 16px;
    line-height: 26px;
  }
}
@media (max-width: 575px) {
  .OurTeam .teamInfo .memberDeatils p {
    font-size: 14px;
    line-height: 24px;
  }
}
.OurTeam .teamInfo .memberDeatils h3 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
@media (max-width: 1440px) {
  .OurTeam .teamInfo .memberDeatils h3 {
    font-size: 18px;
  }
}
@media (max-width: 1200px) {
  .OurTeam .teamInfo .memberDeatils h3 {
    font-size: 16px;
    margin: 0 0 5px 0;
  }
}
@media (max-width: 575px) {
  .OurTeam .teamInfo .memberDeatils h3 {
    font-size: 14px;
    margin: 0;
  }
}
.OurTeam .teamInfo .memberDeatils span {
  font-size: 17.19px;
  color: #9C9FBB;
}
@media (max-width: 767px) {
  .OurTeam .teamInfo .memberDeatils span {
    font-size: 14px;
  }
}
.OurTeam .teamInfo .memberDeatils .memberSocial {
  margin: 0 0 0 10px;
}
.OurTeam .teamInfo .memberDeatils .memberSocial a {
  display: inline-block;
  color: #1976D2;
  margin: 0 15px 0 0;
  font-size: 24px;
}
.OurTeam .teamInfo .memberDeatils .memberSocial a:last-child {
  margin: 0;
}
.OurTeam .teamInfo .memberDeatils .memberSocial a.twitter {
  color: #00BAF6;
}
.OurTeam .teamInfo .memberDeatils .memberSocial a.linkdin {
  color: #0077B5;
}
@media (max-width: 1440px) {
  .OurTeam .teamInfo .memberDeatils .memberSocial a {
    font-size: 18px;
  }
}
@media (max-width: 1440px) {
  .OurTeam .teamInfo .memberDeatils .memberSocial a {
    margin: 0 10px 0 0;
  }
}
@media (max-width: 1440px) {
  .OurTeam .teamInfo .memberDeatils {
    padding: 20px;
  }
  .OurTeam .teamInfo .memberDeatils::before {
    left: 15px;
  }
}

.footerInfo {
  padding: 75px 60px;
  background-color: #181818;
}
.footerInfo p {
  font-size: 20px;
  color: #5C5E87;
  margin: 0;
}
.footerInfo h3 {
  font-size: 22px;
  font-weight: 500;
  color: #1A40E7;
  margin: 10px 0 48px 0;
}
.footerInfo ul li {
  margin: 0 0 34px 0;
}
.footerInfo ul li:last-child {
  margin: 0;
}
.footerInfo ul li a {
  display: inline-block;
  font-size: 20px;
  line-height: 24px;
  color: #5C5E87;
  transition: 1s;
}
.footerInfo ul li a:hover {
  color: #ffffff;
}
.footerInfo .footerAbout {
  width: 25%;
}
.footerInfo .footerAbout h3 {
  margin: 0 0 20px 0;
}
.footerInfo .footerProduct {
  width: 8%;
  margin: 0 8% 0 9%;
}
.footerInfo .footerTeam {
  width: 10%;
}
.footerInfo .footerSolutions {
  width: 14%;
  margin: 0 7%;
}
.footerInfo .footerResources {
  width: 13%;
}
.footerInfo .ftrAddress {
  padding: 80px 0;
}
.footerInfo .ftrSocial ul li {
  margin: 0 20px 0 0;
}
.footerInfo .ftrSocial ul li:last-child {
  margin: 0;
}
.footerInfo .ftrSocial ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #373C59;
  border-radius: 50%;
  font-size: 24px;
  color: #ffffff;
  transition: 1s;
}
.footerInfo .ftrSocial ul li a.facebook {
  align-items: end;
  font-size: 30px;
}
.footerInfo .ftrSocial ul li a:hover {
  background-color: #1D3ED1;
}
@media (max-width: 1900px) {
  .footerInfo {
    padding: 75px 30px;
  }
  .footerInfo .footerAbout {
    width: 26%;
  }
  .footerInfo .footerProduct {
    width: 11%;
    margin: 0 5%;
  }
  .footerInfo .footerTeam {
    width: 11%;
  }
  .footerInfo .footerResources {
    width: 15%;
  }
  .footerInfo .footerSolutions {
    width: 16%;
    margin: 0 5%;
  }
}
@media (max-width: 1440px) {
  .footerInfo p {
    font-size: 18px;
  }
  .footerInfo .footerProduct {
    margin: 0 4%;
  }
  .footerInfo .footerSolutions {
    width: 18%;
    margin: 0 4%;
  }
  .footerInfo .footerResources {
    width: 17%;
  }
  .footerInfo ul li a {
    font-size: 18px;
  }
}
@media (max-width: 1200px) {
  .footerInfo p {
    font-size: 18px;
  }
  .footerInfo h3 {
    font-size: 20px;
    margin: 10px 0 40px 0;
  }
  .footerInfo ul li {
    margin: 0 0 24px 0;
  }
  .footerInfo ul li a {
    font-size: 16px;
  }
  .footerInfo .footerProduct {
    width: 13%;
    margin: 0 2%;
  }
  .footerInfo .footerSolutions {
    width: 22%;
    margin: 0 2%;
  }
  .footerInfo .footerResources {
    width: 17%;
  }
  .footerInfo .footerTeam {
    width: 14%;
  }
}
@media (max-width: 991px) {
  .footerInfo .footerDetails {
    flex-wrap: wrap;
  }
  .footerInfo ul li {
    margin: 0 0 15px 0;
  }
  .footerInfo .footerAbout {
    width: 100%;
    margin: 0 0 30px 0;
  }
  .footerInfo .ftrAddress {
    padding: 0 0 30px 0;
  }
  .footerInfo .footerProduct {
    width: 17%;
    margin: 0 4% 0 0;
  }
  .footerInfo .footerTeam {
    width: 18%;
  }
  .footerInfo .footerSolutions {
    width: 29%;
    margin: 0 4%;
  }
  .footerInfo .footerResources {
    width: 24%;
  }
}
@media (max-width: 767px) {
  .footerInfo .footerTeam {
    width: 50%;
  }
  .footerInfo .footerProduct {
    width: 50%;
    margin: 0;
  }
  .footerInfo .footerSolutions, .footerInfo .footerResources {
    width: 50%;
    margin: 20px 0 0 0;
  }
  .footerInfo h3 {
    font-size: 20px;
    margin: 0 0 20px 0;
  }
  .footerInfo ul li {
    margin: 0 0 10px 0;
  }
}
@media (max-width: 575px) {
  .footerInfo {
    padding: 60px 20px;
  }
  .footerInfo .ftrAddress {
    padding: 20px 0;
  }
  .footerInfo .footerProduct, .footerInfo .footerTeam, .footerInfo .footerSolutions, .footerInfo .footerResources {
    width: 100%;
  }
  .footerInfo .footerProduct, .footerInfo .footerAbout {
    margin: 0 0 20px 0;
  }
}/*# sourceMappingURL=style.css.map */