$primaryFont: "Inter", sans-serif;
$secondaryFont: "Poppins", sans-serif;

$primary: #1A40E7;
// $secondary: #EE7D67;
// $primaryLight:#D9EAFF;
// $secondaryLight:#FFD6CC;
$black: #000000;
$white: #ffffff;
$active: #1D3ED1;
$gray: #eee;
$darkgray: #232323;
$text: #5C5E87;

// $lightblue:#F8FBFF;
// $lightblue1:#F2F8FF;
// $lightOrange:#FFF9F7;
// $darkgray: #2E2E2E;
// $gray2:#4F4F4F;
// $regulergray: #888888;
// $color_44: #444444;
// $color_32: #323232;
// $darkblue:#003D85;
// $red:#DB2B39;
// $warning: #FCB300;

$rem: 8px;

$extrabold: 900;
$bold: 700;
$semibold: 600;
$medium: 500;
$normal: 400;
$light: 300;


$mediaSizes: (
  'xs': 480px,
  'sm': 575px,
  'md': 767px,
  'lg': 991px,
  'xl': 1200px,
  'xxl': 1440px,  
  'xxxl': 1900px,

);

